<script id="cc_supplier" type="text/html">
    <div class="actions">
        <a class="ui-state-default ui-corner-all app-btn" title="{{del}}" href="{{url_base}}/cc_supplier/del?id={{cc_supplier.id}}" data-push-state="0" data-ajax-callback="del"><span class="ui-icon ui-icon-closethick">{{del}}</span></a>
        <a class="ui-state-default ui-corner-all app-btn" title="{{mod}}" href="{{url_base}}/cc_supplier/mod?id={{cc_supplier.id}}"><span class="ui-icon ui-icon-pencil">{{mod}}</span></a>
    </div>
    <div class="row-data">
        <div class="avatar">
            <img src="{{cc_supplier.image_src}}" alt="image" />
        </div>
        <ul>
            <li><span class="label">{{{name}}}:</span> &nbsp; {{cc_supplier.name}}</li>
            <li><span class="label">{{{phone}}}:</span> &nbsp; {{cc_supplier.phone}}</li>
            <li><span class="label">{{{address}}}:</span> &nbsp; {{cc_supplier.address}}</li>
            <li><span class="label">{{{email}}}:</span> &nbsp; {{cc_supplier.email}}</li>
            <li><span class="label">{{{comments}}}:</span> &nbsp; {{{cc_supplier.comments}}}</li>
            <li><span class="label">{{{deleted}}}:</span>
                {{#cc_supplier.deleted}} {{yes}} {{/cc_supplier.deleted}}
                {{^cc_supplier.deleted}} {{no}} {{/cc_supplier.deleted}}
            </li>
        </ul>
    </div>
</script>
<script id="cc_purchase_list" type="text/html">
    {{^paginator.total_pages}}
    {{not_found}}
    {{/paginator.total_pages}}
    {{#paginator.total_pages}}
    <table class="cc-purchase-search">
        <thead>
        <tr class="paginator">
            <th colspan="8">
                <div class="jpaginator"></div>
            </th>
        </tr>
        <tr>
            <th>{{{opened_on}}}</th>
            <th>{{{opened_by}}}</th>
            <th>{{{closed_on}}}</th>
            <th>{{{closed_by}}}</th>
            <th>{{{order_num}}}</th>
            <th>{{{products}}}</th>
            <th class="action">{{{mod}}}</th>
            <th class="action">{{{del}}}</th>
        </tr>
        </thead>
        <tbody>
        {{#cc_purchases}}
        <tr>
            <td><a href="{{url_base}}/cc_purchase/view?id={{id}}" title="{{view_cc_purchase}}">{{opened_on}}</a></td>
            <td><a href="{{url_base}}/user/view?id={{opened_by}}" title="{{view_user}}">{{opened_by_name}}</a></td>
            <td><a href="{{url_base}}/cc_purchase/view?id={{id}}" title="{{view_cc_purchase}}">{{closed_on}}</a></td>
            <td><a href="{{url_base}}/user/view?id={{closed_by}}" title="{{view_user}}">{{closed_by_name}}</a></td>
            <td><a href="{{url_base}}/cc_purchase/view?id={{id}}" title="{{view_cc_purchase}}">{{order_num}}</a></td>
            <td>
                <ul>
                    {{#products}}
                    <li><span class="label"><a href="{{url_base}}/cc_product/view?id={{id}}" title="{{view_cc_product}}">{{name}}</a>:</span>
                        {{quantity}} {{unit}} {{measurement_unit}}, ${{unit_price}} {{each}}
                        {{#quantity_delivered}}
                        ({{quantity_delivered}} {{delivered}})
                        {{/quantity_delivered}}
                    </li>
                    {{/products}}
                    <li><span class="label">{{total_cost}}:</span> ${{total}}</li>
                </ul>
            </td>
            <td><a href="{{url_base}}/cc_purchase/mod?id={{id}}" title="{{mod}}">{{mod}}</a></td>
            <td><a href="{{url_base}}/cc_purchase/del?id={{id}}" title="{{del}}" data-push-state="0" data-ajax-callback="del">{{del}}</a></td>
        </tr>
        {{/cc_purchases}}
        </tbody>
    </table>
    {{/paginator.total_pages}}
</script>